// All Our Dependencies
@import "../libs/bootstrap/css/bootstrap.css";
body {
  padding: 0;
  margin: 0;
}
$calculatorWidth: 400px;
$buttonSection: 300px;
$actionSection: $calculatorWidth - $buttonSection;
$fontSize: 24px;
$buttonSize: 60px;

$orange_bg: darkorange;
$gray_bg: lightgray;

$orange_border: #AF6725;
$gray_border: #999999;

$darkBg: #423D3D;

$headerHight: 50px;
$paddingSize: 30px;

h1 {
  margin-bottom: 30px;
  text-align: center;
}
.wrapper {
  padding: 0 $paddingSize;
}
header {
  padding: 0 $paddingSize;
  background: $darkBg;
  height: $headerHight;
  line-height: $headerHight;
  a {
    color: $gray_bg;
    margin-right: 50px;
  }
  a:hover {
    color: #fff;
  }
}
footer {
  margin-top: 40px;
  padding: 0 $paddingSize;
  text-align: center;
}
.calculator {
  font-size: 0;
  width: $buttonSize * 4;
  margin: 0 auto;
  position: relative;
  box-shadow: $gray_border 0px 0px 40px ;
  background-color: $gray_bg;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.calculator__buttons-box {
  float: left;
  width: $buttonSize * 3;
}
.clear {
  clear: both;
}
.calculator__operations-box {
  float: right;
  width: $buttonSize;
  font-size: $fontSize;
}
.calculator__display {
  font-size: $fontSize;
  float: left;
  width: 100%;
  padding: 20px 10px;
  background-color: $darkBg;
  color: #ffffff;
  text-align: right;
  overflow: hidden;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

.button {
  width: $buttonSize;
  height: $buttonSize;
  font-size: $fontSize;
  text-align: center;
  line-height: $buttonSize;
  display: inline-block;
  cursor: pointer;
}

.button-orange {
  border-bottom: $orange_border solid 1px;
  background-color: $orange_bg;
  &:hover {
    background-color: $orange_bg + #111111;
  }
}
.button-big-orange {
  border-bottom: solid $orange_border 1px;
}
.button-gray {
  border-left: $gray_border solid 1px;
  border-bottom: $gray_border solid 1px;
  background-color: $gray_bg;
  &:hover {
    background-color: $gray_bg + #111111;
  }
}
.button-big-gray, .button-big-orange {
  width: $buttonSize * 2;
}
.button-big-gray {
  border-bottom: $gray_border solid 1px;
}
.bottom-row {
  text-align: right;
}
.bottom-row {
  .button-orange {
   border-left: $orange_border solid 1px;
  }
}
.button-orange:active {
  box-shadow: inset $orange_bg - #333 0px 0px 20px ;
}
.button-gray:active {
  box-shadow: inset $gray_bg - #333 0px 0px 20px ;
}
.history_list {
  list-style: none;
  width: 80%;
  max-width: 1024px;
  font-size: $fontSize - 8px;
  line-height: 40px;
  margin: 20px auto;
  .history_item {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
  }
  .history_item:nth-child(even) {
    text-align: right;
  }
  .expression {
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
    background: yellow;
    font-weight: bold;
  }
}
.empty {
  color: $gray_border;
  text-align: center;
}